@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #282d35;
  font-family: 'Inter', sans-serif;
  height: 100vh;
}

#root {
  height: 100%;
}

.navBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 550px;
  height: 91px;
  background: #21222a;
  padding: 0 20px;
}

.navBar p {
  font-size: 16px;
  line-height: 19px;
  color: #deebf8;
}

.logoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logoContainer img {
  width: 40px;
  margin-right: 12px;
}

.logoContainer h3 {
  color: #61dafb;
  font-size: 22px;
  line-height: 27px;
}

.main {
  width: 550px;
  margin: 57px 30px;
  color: white;
  height: 100%;
  background-image: url('./reactjs-icon\ 2.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right 75%;
}

.mainHd {
  font-size: 40px;
  margin-bottom: 46px;
  letter-spacing: -0.05em;
}

li {
  padding: 10px 0;
}

.listItem li::marker {
  font-size: 1.4rem;
  color: #61dafb;
}

.container {
  height: 100%;
}
